  #myCanvas{
                background:	rgb(0,0,0);
}
            #centre{
             
                margin-left: 164px;
            }
            #heading{
                padding-left: 600px;
                margin-top:2px;
            }